<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>API Documentation</title>
    <link href="shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css"> 
    <link href="shared/css/pygments.css" media="screen" rel="stylesheet" type="text/css"> 
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css"> 
    <script src="shared/js/jquery.js" type="text/javascript"></script> 
    <script src="shared/js/documentation.js" type="text/javascript"></script> 
    <script src="js/json2.js" type="text/javascript"></script> 
    <script src="js/underscore.js" type="text/javascript"></script> 
    <script src="js/backbone.js" type="text/javascript"></script> 
    <script src="js/docurium.js" type="text/javascript"></script> 

    <!-- Changelog -->
    <script type="text/template" id="changelog-item-template">
      <p>
	<ul>
	  <% _.each(dels, function(elem) { %>
	  <li class="deletes"><%= elem %></li>
	  <% }) %>
	</ul>
      </p>
      <p>
	<ul>
	  <% _.each(adds, function(elem) { %>
	  <li class="adds"><a href="#<%= elem.link %>"><%= elem.text %></a></li>
	  <% }) %>
	</ul>
      </p>
    </script>

    <script type="text/template" id="changelog-template">
      <h1>Function Changelog</h1>
      <% _.each(versions, function(version) { %>
      <h3><%= version.title %></h3>
      <div class="changelog">
	<%= version.listing %>
      </div>
      <% }) %>
    </script>

    <!-- Version picker -->
    <script type="text/template" id="version-picker-template">
      <ul id="version-list">
	<% _.each(versions, function(version) { %>
	<li><a href="#<%= version %>"><%= version %></a></li>
	<% }) %>
	<li><a href="#p/changelog">Changelog</a></li>
      </ul>
    </script>

  </head>

  <body class="documentation">

    <script type="text/template" id="file-list-template">
     <li>
       <h3><a href="#">Functions</a></h3>
       <ul>
	 <% _.each(funs, function(fun, i) { %>
	 <li>
	   <a href="#" ref="<%= i %>" class="group" id="groupItem<%= fun.name %>">
	   <%= fun.name %>&nbsp;<small>(<%= fun.num %>)</small>
	   </a>
	 </li>
	 <% }) %>
       </ul>
     </li>
     <li>
       <h3><a href="#">Types</a></h3>
       <ul>
	 <li><span class="divide">Enums</span></li>
	 <% _.each(enums, function(e) { %>
	 <li>
	   <a href="#" ref="<%= e.ref %>" class="type", id="typeItem<%= e.name %>"><%= e.name %></a>
	 </li>
	 <% }) %>
	 <li><span class="divide">Structs</span></li>
	 <% _.each(structs, function(s) { %>
	 <li>
	   <a href="#" ref="<%= s.ref %>" class="type", id="typeItem<%= s.name %>"><%= s.name %></a>
	 </li>
	 <% }) %>
	 <li><span class="divide">Opaque Structs</span></li>
	 <% _.each(opaques, function(o) { %>
	 <li>
	   <a href="#" ref="<%= o.ref %>" class="type", id="typeItem<%= o.name %>"><%= o.name %></a>
	 </li>
	 <% }) %>
       </ul>
     </li>
     <li>
       <h3><a href="#">Files</a></h3>
       <ul>
	 <% _.each(files, function(file) { %>
	 <li>
	   <a target="github" href="<%= file.url %>"><%= file.name %></a>
	 </li>
	 <% }) %>
       </ul>
     </li>
     <li>
       <h3><a href="#">Examples</a></h3>
       <ul>
	 <% _.each(examples, function(example) { %>
	 <li>
	   <a href="<%= example.path %>"><%= example.name %></a>
	 </li>
	 <% }) %>
       </ul>
     </li>
    </script>

    <div id="not-footer">
    <div id="header-wrapper">
      <div id="header">
        <div>
          <a class="logo" href="#" id="site-title">API</a>
          <ul class="nav">
            <li><input type="text" class="search" id="search-field" name="q" autocomplete="off"></li>
          </ul>
        </div>
      </div><!-- #header -->
    </div><!-- #header-wrapper -->

    <div id="wrapper">

      <div class="content"></div>

      <div id="js-help-sidebar" class="sidebar-shell">
        <div class="sidebar-module">
          <ul class="subgroup" id="versions">
            <li>
              <h3 id="version-picker">Version: <span id="version"></span></h3>
              <ul id="version-list"></ul>
            </li>
          </ul>
        </div> <!-- /sidebar-module -->
        <div class="sidebar-module">
          <ul class="subgroup" id="files-list">
            <li><h3><a>Loading...</a></h3></li>
          </ul>
        </div> <!-- /sidebar-module -->
      </div><!-- /sidebar-shell -->

    </div><!-- #wrapper -->

  </div><!-- /not-footer -->
  <div id="footer-wrapper">
    <div id="footer">
      <div class="left-col">
        Powered by <a href="https://github.com/schacon/docurium">Docurium</a><br/>
        Sponsored by GitHub<br/>
        <br/>
      </div>
      <div class="right-col"></div>
    </div><!-- #footer -->
  </div><!-- #footer-wrapper -->

  </body>
</html>
